html {
    /*background-color: #e2e2e2;*/
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    margin-top: 80px;
    padding: 0;
}

#feed {
    margin-top: 25px;
}

#prop {
    font-family: sans-serif;
    position: absolute;
    margin-left: 5px;
}

#summary p {
    margin: 10px 0px 10px;
}

#shortcuts .glyphicon {
    top: 5px;
}

 #bookmark {
   cursor: pointer;
}

.feedinfo {
    margin-top: -8px;
}

.newFeed {
    background-color: antiquewhite;
}

.logo{
    background-repeat:no-repeat;
    width: 24px;
    height: 24px;
}

.apptitle{
    vertical-align: central;
    position: absolute;
    margin-left: 32px;
    margin-top: -18px;
}

footer {
    text-align: center;
}