@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = ".NET Feeder - Settings";
}

<h2>Settings</h2>
<hr />

<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-6 col-sm-1">
        <div class="row" style="min-width:150px;">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="/settings/general">General</a></li>
                <li role="presentation"><a href="/settings/storage">Storage</a></li>
            </ul>
        </div>
    </div>
   @RenderBody()
</div>
