@{
    Layout = "~/settings/_SettingsLayout.cshtml";
    Page.Title = ".NET Feeder - Storage Settings";
}

@{
    StorageSettings _settings = null;
    if (Request.HttpMethod == "POST")
    {
        _settings = new StorageSettings();
        if (Request.Form["storage"] == "Mongolab")
        {
            _settings.mongoDbURL = Request.Form["mongourl"];
            _settings.dbUser = Request.Form["dbuser"];
            _settings.dbPassword = Request.Form["dbpassword"];
            _settings.storageType = StorageType.Mongolab;
        }
        else if (Request.Form["storage"] == "RavenDB")
        {
            _settings.storageType = StorageType.RavenDB;
        }
        SettingsStore.SaveSettings(_settings);
    }
    else
    {
        _settings = SettingsStore.ReadSettings<StorageSettings>("StorageSettings") == null ? new StorageSettings() : SettingsStore.ReadSettings<StorageSettings>("StorageSettings");
    }
}


<div class="col-xs-1 col-sm-11">
    <form action="~/settings/storage" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="storage" class="control-label col-xs-2">Storage Provider</label>
            <div class="col-xs-2">
                <select class="form-control" name="storage" id="storage">
                    <option>Mongolab</option>
                    <option>RavenDB</option>
                    <option>Azure Storage</option>
                </select>
            </div>
        </div>

        <div id="mongolab">
            <div class="form-group">
                <label for="mongourl" class="control-label col-xs-2">Mongolab DB URL</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" name="mongourl" id="mongourl" value="@_settings.mongoDbURL" placeholder="XX000000.mongolab.com:00000/dotnetfeeder">
                </div>
            </div>
            <div class="form-group">
                <label for="dbuser" class="control-label col-xs-2">User Name</label>
                <div class="col-xs-7">
                    <input type="text" class="form-control" name="dbuser" id="dbuser" value="@_settings.dbUser" placeholder="User name for Mongolab DB">
                </div>
            </div>
            <div class="form-group">
                <label for="dbpassword" class="control-label col-xs-2">Password</label>
                <div class="col-xs-7">
                    <input type="password" class="form-control" name="dbpassword" id="dbpassword" value="@_settings.dbPassword" placeholder="Password for Mongolab DB">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
<script>
    (function () {
        var dbProvider = '@_settings.storageType';
        $('#storage').val(dbProvider);
    }())
</script>