@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    Layout = "~/settings/_SettingsLayout.cshtml";
    Page.Title = ".NET Feeder - Feeds";
}

@{
    string jsonFeed = string.Empty;
    if (Request.HttpMethod == "POST")
    {
        string webpage = Request.Form["webpage"];
        string feed = Request.Form["feed"];
        if (webpage.Trim().Length > 0 && feed.Trim().Length > 0)
        {
            Feeds f = new Feeds()
            {
                category = "programming",
                feedurl = feed,
                webpage = webpage
            };
            jsonFeed = File.ReadAllText(System.Web.Hosting.HostingEnvironment.MapPath(Constants.DATA_FEED));
            JObject _obj = JObject.Parse(JsonConvert.SerializeObject(f));
            JArray _arr = JArray.Parse(jsonFeed);
            _arr.Add(_obj);
            File.WriteAllText(System.Web.Hosting.HostingEnvironment.MapPath(Constants.DATA_FEED), _arr.ToString());
            f = null;
            _obj = null;
            _arr = null;
        }
    }
    jsonFeed = File.ReadAllText(System.Web.Hosting.HostingEnvironment.MapPath(Constants.DATA_FEED));
    List<Feeds> feeds = JsonConvert.DeserializeObject<List<Feeds>>(jsonFeed);
    int count = 1;
}

<div class="col-xs-10 col-sm-11">
    <div class="form-horizontal">
        <form action="~/settings/feeds" method="post" class="feedGrouping form-horizontal">
            <div class="form-group ">
                <label for="webpage" class="control-label col-xs-2">Web URL</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="webpage" name="webpage" placeholder="Website URL">
                </div>
            </div>
            <div class="form-group">
                <label for="feedurl" class="control-label col-xs-2">Feed URL</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="feed" name="feed" placeholder="Feed URL">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
        <div class="panel panel-default">
            <div class="panel-heading">&nbsp;</div>
            <table class="table">
                <tbody>
                    @foreach (var feed in feeds)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td><a href="@feed.webpage">@feed.webpage</a></td>
                            <td><a href="@feed.feedurl">Feed</a></td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>

    </div>



</div>