@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = ".NET Feeder";
}

<h2>About</h2>

<p>
    <a href="https://github.com/prashantkhandelwal/DotNetFeeder">Dotnet Feeder</a> is a fun project built over <a href="https://github.com/madskristensen/FeedCollector">Feed Collector</a> by <a href="http://madskristensen.net/">Mads Kristensen</a>. Feed Collector collects feeds from different blogs and aggregate all the feeds in one place. Dotnet Feeder is built to address some limitations of Feed Collector.
</p>
<p>
    <h4>Features</h4>
    <ul>
        <li>Responsive design and mobile ready.</li>
        <li>Bookmark feeds.</li>
        <li>Automatic feed refresh.</li>
        <li>
            Multiple database support. Current supported database are:
            <ul>
                <li>Embedded RavenDb</li>
                <li>MongoDB - Mongolab</li>
            </ul>
        </li>
        <li>View/delete saved bookmarks.</li>
        <li>Add/view blog feeds.</li>
        <li>Customize paging size and feed refresh time.</li>
    </ul>
</p>

<h2>Attributions</h2>
<p>
    <div>Feed icon used in this application is made by <a href="http://www.flaticon.com/authors/stephen-hutchings" title="Stephen Hutchings">Stephen Hutchings</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</p>