@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = ".NET Feeder";
}

<h2>About</h2>

<p>Something to add about project</p>

<h2>Attributions</h2>
<p>
    <div>Feed icon used in this application is made by <a href="http://www.flaticon.com/authors/stephen-hutchings" title="Stephen Hutchings">Stephen Hutchings</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</p>