@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = ".NET Feeder - Bookmarks";
}

<h2>Bookmarks</h2>

@{
    IStorageProvider _storage = Storage.GetInstance;

    string input;
    if (Request.HttpMethod == "POST")
    {
        string[] _separator = new string[] { "||" };
        using (var reader = new StreamReader(Request.InputStream))
        {
            input = reader.ReadToEnd();
        }
        if (input.Length > 0)
        {
            if (input.Contains("id:"))
            {
                _storage.DeleteBookmark(input.Split(':')[1]);
            }
            else
            {
                _storage.SaveBookmark(new Bookmarks() { URL = input.Split(_separator, StringSplitOptions.RemoveEmptyEntries)[1], Title = input.Split(_separator, StringSplitOptions.RemoveEmptyEntries)[0] });
            }
        }
    }
    else
    {
        IEnumerable<Bookmarks> _bookmarks = _storage.ListBookmarks().Result;
        int count = 1;
        <div class="panel panel-default">
            <div class="panel-heading">Bookmarks</div>
            <table class="table">
                <tbody>
                    @foreach (var bookmark in _bookmarks)
                {
                        <tr>
                            <th scope="row">@count</th>
                            <td><a href="@bookmark.URL">@bookmark.Title</a></td>
                            <td id="deleteBookmark"><span class="glyphicon glyphicon-remove normalLink" title="Delete Bookmark" data-bookmark="id:@bookmark.Id"></span></td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    }
}
